<%= render "shared/header" %>

<div class="c-landing-page__content c-contact-page__content h-inner">
  <div class="c-contact-page__content__form-wrapper">
    <h1 class="c-heading u-margin-bottom--30">Napisz do nas</h1>

    <%= form_for :public_message, url: public_message_path, html: { class: "c-contact-page__content__form" } do |f| %>
      <div>
        <label>
          <span>Imię i nazwisko</span>
          <input type="text" name="public_message[name]" class="c-input" />
          <i class="c-input__error u-display--none">Wprowadź imię i nazwisko</i>
        </label>

        <label>
          <span>Email</span>
          <input type="email" name="public_message[email]" class="c-input" />
          <i class="c-input__error u-display--none">Wprowadź poprawny email</i>
        </label>
      </div>

      <div class="u-margin-top--30">
        <label>
          <span>Numer telefonu</span>
          <input type="phone" name="public_message[phone]" class="c-input" />
        </label>

        <label>
          <span>Nazwa firmy</span>
          <input type="text" name="public_message[company_name]" class="c-input" />
        </label>
      </div>

      <div class="u-margin-top--30">
        <label class="u-width--full u-margin--none">
          <span>Wiadomość</span>
          <textarea name="public_message[message]" class="c-input c-input--textarea"></textarea>
          <i class="c-input__error u-display--none">Wprowadź wiadomość</i>
        </label>
      </div>

      <input type="submit" value="Wyślij wiadomość" class="c-button c-button--filled c-button--filled-purple u-margin-top--30" disabled />
    <% end %>
  </div>

  <div class="c-contact-page__content__svg-wrapper">
    <%= inline_svg_tag "contact_page_message.svg" %>
  </div>
</div>
