<%= render "shared/header" %>

<div class="c-registration-thanks-page__content h-inner">
  <h1 class="c-heading u-margin-bottom--30">Dziękujemy za kontakt!</h1>
  <p>Zapoznamy się z Twoją wiadomością i odpowiemy tak szybko jak to tylko możliwe.</p>
</div>
