<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nowa wiadomość z bookify.com.pl:</p>
    <p>
    --------------------------
    </p>
    <p>Imię i nazwisko: <%= @public_message.name %></p>
    <p>Email: <%= @public_message.email %></p>
    <p>Numer telefonu: <%= @public_message.phone %></p>
    <p>Nazwa firmy: <%= @public_message.company_name %></p>
    <p>Wiadomość:<br></p>
    <p><%= @public_message.message %></p>
  </body>
</html>
