<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dziękujemy za kontakt. Skontaktujemy się z Tobą jak najszybciej.</p>
  </body>
</html>
