<%= render "shared/header" %>

<div class="c-landing-page__content c-registration-page__content h-inner">
  <div class="c-registration-page__content__svg-wrapper">
    <%= inline_svg_tag "registration_page_welcome.svg" %>
  </div>

  <div class="c-registration-page__content__form-wrapper">
    <h1 class="c-heading u-margin-bottom--30">Zarejestruj się</h1>

    <%= form_for :registration, url: registration_path, html: { class: "c-registration-page__content__form" } do |f| %>
      <div>
        <label>
          <span>Nazwa firmy</span>
          <input type="text" name="company[name]" class="c-input" />
          <i class="c-input__error u-display--none">Wprowadź nazwę firmy</i>
        </label>

        <label>
          <span>Branża firmy</span>
          <div class="c-select">
            <select name="company[business_type_id]">
              <option value="" disabled selected>Wybierz branżę</option>
              <% @business_types.each do |type| %>
                <option value="<%= type.id %>"><%= type.name %></option>
              <% end %>
            </select>
          </div>
        </label>
      </div>

      <div class="u-margin-top--30">
        <label>
          <span>Imię</span>
          <input type="text" name="user[first_name]" class="c-input" />
          <i class="c-input__error u-display--none">Wprowadź imię</i>
        </label>

        <label>
          <span>Nazwisko</span>
          <input type="text" name="user[last_name]" class="c-input" />
          <i class="c-input__error u-display--none">Wprowadź nazwisko</i>
        </label>
      </div>

      <div class="u-margin-top--30">
        <label>
          <span>Email</span>
          <input type="email" name="user[email]" class="c-input" />
          <i class="c-input__error u-display--none">Wprowadź poprawny email</i>
        </label>

        <label>
          <span>Hasło</span>
          <input type="password" name="user[password]" class="c-input" />
          <i class="c-input__error u-display--none">Hasło musi mieć co najmniej 6 znaków</i>
        </label>
      </div>

      <input type="submit" value="Zarejestruj się" class="c-button c-button--filled c-button--filled-purple u-margin-top--30" disabled />
    <% end %>
  </div>
</div>
