<%= render "shared/header" %>

<div class="c-registration-thanks-page__content h-inner">
  <h1 class="c-heading u-margin-bottom--30">Świetnie! Jesteś o krok od korzystania z nowego systemu umawiania!</h1>
  <p>Potwierdź rejestrację klikając w link wysłany na twój adres email.</p>
</div>
