<header class="c-header">
  <div class="h-inner">
    <a class="c-header__logo" href="/">
      Bookify
    </a>

    <nav class="c-header__nav-desktop">
      <%= link_to "Kontakt", new_public_message_path, class: "c-button c-button--text u-margin-right--20" %>
      <%= link_to "Zarejestruj się", new_registration_path, class: "c-button c-button--text u-margin-right--20" %>
      <a href="<%= ENV["REACT_HOST"] %>/signin" class="c-button c-button--filled">Zaloguj się</a>
    </nav>

    <nav class="c-header__nav-mobile">
      <%= fa_icon "bars", class: "c-header__nav-mobile__menu-icon c-header__nav-mobile__menu-icon--open" %>
      <%= fa_icon "times", class: "c-header__nav-mobile__menu-icon c-header__nav-mobile__menu-icon--close u-display--none" %>
    </nav>
  </div>

  <div class="c-header__nav-mobile-links">
    <%= link_to "Kontakt", new_public_message_path %>
    <%= link_to "Zarejestruj się", new_registration_path %>
    <a href="http://localhost:3001/signin">Zaloguj się</a>
  </div>
</header>
