.c-header {
  padding: 40px 0;
  transition: $transition;

  &--menu-opened {
    background-color: $purple;
  }

  &--menu-opened & {
    &__nav-mobile-links {
      visibility: visible;
      opacity: 1;
    }
  }

  .h-inner {
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: Bangers;
    font-size: 28px;
    text-decoration: none;
    color: $white;

    &:hover {
      color: lighten($purple, 10%)
    }
  }

  &__nav-desktop {
    display: flex;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__nav-mobile {
    display: none;
    position: relative;

    @media (max-width: 767px) {
      display: flex;
    }

    &__menu-icon {
      font-size: 26px;
      color: $white;
      cursor: pointer;
    }
  }

  &__nav-mobile-links {
    top: 68px;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    visibility: hidden;
    opacity: 0;
    margin-top: 40px;
    position: absolute;
    background-color: $purple;
    box-shadow: 0px 10px 10px transparentize($black, 0.5);
    border-top: 1px solid transparentize($white, 0.5);
    transition: $transition;

    a {
      padding: 20px 30px;
      text-decoration: none;
      font-size: $font-size-base;
      color: $white;
    }
  }
}
