.c-input {
  padding: 10px 15px;
  outline: none;
  font-size: $font-size-base;
  color: $white;
  background-color: transparentize($purple, 0.8);
  border: 2px solid $purple;
  border-radius: $border-radius;
  transition: $transition;

  &:focus {
    background-color: transparentize($purple, 0.9);
    box-shadow: 5px 2px 8px 2px #0c0c0cbf;
  }

  &--textarea {
    resize: vertical;
    min-height: 90px;
  }

  &__error {
    margin-top: 5px;
    font-size: $font-size-xsmall;
    font-style: italic;
    font-weight: $font-weight-light;
    color: $red;
  }
}
