.c-landing-page__content {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  &__text {
    box-sizing: border-box;

    @media (min-width: 768px) {
      width: 50%;
      margin-right: 40px;
    }
  }

  &__svg-wrapper {
    width: 50%;

    &--desktop {
      @media (max-width: 767px) {
        display: none;
      }
    }

    &--mobile {
      width: 100%;
      margin-top: 40px;

      @media (min-width: 768px) {
        display: none;
      }
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  h1 {
    font-size: 62px;
    font-weight: $font-weight-bold;
    line-height: 1.3;
    color: $white;
  }

  p {
    margin-top: 40px;
    font-size: 22px;
    font-weight: $font-weight-light;
    line-height: 1.3;
    color: $white;
  }

  a {
    width: 100%;
    margin-top: 40px;
    padding: 35px;
    font-size: 20px;
    box-sizing: border-box;
  }
}
