.c-registration-thanks-page {
  &__content {
    margin: auto;
    flex-direction: column;
    text-align: center;

    p {
      margin: 40px 0;
      font-size: 22px;
      font-weight: $font-weight-light;
      line-height: 1.3;
      color: $white;
    }
  }
}
