.c-registration-page {
  &__content {
    &__form-wrapper {
      width: 100%;

      @media (min-width: 901px) {
        width: 50%;
        margin-left: 40px;
      }
    }

    &__form {
      padding: 30px;
      box-sizing: border-box;
      background: linear-gradient(135deg, $gray-light 0%, $gray-dark 100%);
      border-radius: $border-radius;
      box-shadow: $box-shadow;

      label {
        width: 100%;
        display: flex;
        flex-direction: column;

        span {
          margin-bottom: 5px;
          font-size: $font-size-small;
          font-weight: $font-weight-regular;
          color: $white;
        }
      }

      div {
        display: flex;

        @media (max-width: 900px) {
          flex-direction: column;
        }

        label {
          @media (min-width: 901px) {
            width: calc(50% - 15px);
          }

          &:first-of-type {
            @media (max-width: 900px) {
              margin-bottom: 30px;
            }

            @media (min-width: 901px) {
              margin-right: 30px;
            }
          }
        }
      }

      .c-button {
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }

    &__svg-wrapper {
      width: 50%;

      @media (max-width: 900px) {
        display: none;
      }

      svg {
        width: 100%;
        height: auto;
      }
    }
  }
}
