.c-select {
  position: relative;

  select {
    width: 100%;
    padding: 10px 15px;
    outline: none;
    font-size: $font-size-base;
    color: $white;
    background-color: transparentize($purple, 0.8);
    border: 2px solid $purple;
    border-radius: $border-radius;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &:before {
    top: 12px;
    right: 20px;
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid $purple;
    border-bottom: 2px solid $purple;
    position: absolute;
    transform: rotate(-45deg);
  }
}
