<%= render "shared/header" %>

<div class="c-landing-page__content h-inner">
  <div class="c-landing-page__content__text">
    <h1 class="c-heading">Zacznij wydajniej umawiać swoich klientów</h1>

    <div class="c-landing-page__content__svg-wrapper c-landing-page__content__svg-wrapper--mobile">
      <%= inline_svg_tag "landing_page_booking.svg" %>
    </div>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <%= link_to "Zacznij teraz", new_registration_path, class: "c-button c-button--filled" %>
    <%= link_to "Napisz do nas", new_public_message_path, class: "c-button c-button--text c-button--with-border" %>
  </div>

  <div class="c-landing-page__content__svg-wrapper c-landing-page__content__svg-wrapper--desktop">
    <%= inline_svg_tag "landing_page_booking.svg" %>
  </div>
</div>
