$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-base: 16px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$transition: All 0.2s ease-out;

$border-radius: 10px;

$box-shadow: 10px 5px 16px 2px #0c0c0cbf;
