@font-face {
  font-family: 'FiraSans';
  src: asset-url('FiraSans-Light.ttf');
  font-weight: $font-weight-light;
}

@font-face {
  font-family: 'FiraSans';
  src: asset-url('FiraSans-Regular.ttf');
  font-weight: $font-weight-regular;
}

@font-face {
  font-family: 'FiraSans';
  src: asset-url('FiraSans-Bold.ttf');
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: 'Bangers';
  src: asset-url('Bangers-Regular.ttf');
  font-weight: $font-weight-regular;
}
