.u-width {
  &--full {
    width: 100% !important;
  }
}

.u-margin {
  &--none {
    margin: 0 !important;
  }
}

.u-margin-right {
  &--20 {
    margin-right: 20px;
  }
}

.u-margin-top {
  &--30 {
    margin-top: 30px;
  }
}

.u-margin-bottom {
  &--30 {
    margin-bottom: 30px;
  }
}

.u-display {
  &--none {
    display: none;
  }

  &--flex {
    display: flex;
  }
}
