<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Przepraszamy <%= @user.first_name %>, twoja wizyta z dnia <%= @date %> została odwołana.</p>
  </body>
</html>
