<!DOCTYPE html>
<html>
  <head>
    <title>Bookify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "favicon-16x16.png", rel: 'icon', type: 'image/png', sizes: "16x16" %>
    <%= favicon_link_tag "favicon-32x32.png", rel: 'icon', type: 'image/png', sizes: "32x32" %>
    <%= favicon_link_tag "favicon-apple-touch-icon.png", rel: 'icon', type: 'image/png' %>

    <%= stylesheet_link_tag 'landing_page', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
